<h2 class="page-header">New Book</h2>
<!-- 
    enctype="multipart/form-data" 
    dit que le formulaire pourrait envoyer des données au serveur pouvant être un fichier 
-->
<form action="/books" method="POST">
    <%- include('_form_fields.ejs') %>

    <!-- Buttons -->
    <div class="form-row form-row-end btn-row">
        <a class="btn btn-danger" href="/books">Cancel</a>
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
</form>